@model IEnumerable<NotreDameReBuildOfficial.Models.volunteer_info>
@{
    ViewBag.Title = "volList";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");

}

<h2>volunteers Applied</h2>

<table>
    <thead>
        <tr>
            <th>Volunteers Applied</th>
            <th>Details</th>
        </tr>
    </thead>

    @foreach (var vol in Model)
    {
        <tr>
            <td>@vol.firstname</td>
            <td>@vol.lastname</td>
            <td><a href='@Url.Action("volInfo", "cmsVolunteer", new { id = vol.id })'><i class="fa fa-external-link-square fa-lg"></i></a></td>
        </tr>
    }

</table>

