@using NotreDameReBuildOfficial.Models
@using WebGrease.Css
@model IEnumerable<NotreDameReBuildOfficial.Models.PDF_Filter>

@{
    ViewBag.Title = "Pdf";
}

<h2>Browse PDF's</h2>


<ul>
    @foreach (var x in Model) //creates links for all of the categories and when clicked takes you to related pdfs
    {
        <li id="">@Html.ActionLink(x.Category, "Details", new {Category = x.Category}, new {@class = "pdfCat"})</li>
    }
</ul>



@*<img src='@Url.Content("~/Content/images/facebook.png")'/>*@
@*<a href="~/Content/uploads/french.pdf">File1</a>
    @foreach (var x in Model)
    {
        {
            string link = x.PdfTitle;
            string path = Url.Content("~/Content/uploads/") + link.Replace(" ", "%20") + ".pdf";
            string tag = "<a href=" + path + ">" + link + "</a>";
            @Html.Raw(tag)
        }
    }*@
        
    