@model NotreDameReBuildOfficial.Models.admin_subNavigation

@{
    ViewBag.Title = "adminSubNavDelete";
}

<h1>Admin Sub Navigation</h1>

<h2>Delete admin Sub Navigation</h2>

<h2>Are you sure want to delete @Model.title ?</h2>

@using (Html.BeginForm())
{
    <div>
        <input type="submit" value="Delete" /> <!-- Delete button -->
        <br />
        <br />
        @Html.ActionLink("Back", "navInfo", new { id = Model.navID })
        <!-- back button for user again to go for subnav details
        page -->
    </div>
}