@model IEnumerable<NotreDameReBuildOfficial.Models.Donation>
    
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Donate</h2>
