@model NotreDameReBuildOfficial.Models.news_article
@{
    ViewBag.Title = "News_Delete";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Delete Article</h2>

@using (Html.BeginForm())
{
    <p>Are you sure you want to delete <strong>@Html.DisplayFor(x => x.title)?</strong></p>

    <input type="submit" value="Delete" class="buttonstyle" />

    <p>@Html.ActionLink("Back", "News_Details/" + Model.Id, "CMSHome", new { @class = "link" })</p>

}
