@model NotreDameReBuildOfficial.Models.Job_posting
@{
    ViewBag.Title = "Delete_JobPosting";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}
<br />
<br />
<br />

<h2>Are you sure you want to delete @Model.title?</h2>
@using (Html.BeginForm())
{
    <div>
        <input type="submit" value="Delete" />
        <br /><br />
        @Html.ActionLink("back", "JobPosting", new { id = Model.id })
    </div>
}
