@{
    ViewBag.Title = "Index";
}

@* NEWS *@
<div id="news">        

    <h2>What's New</h2>

    @* Display news feed images from database *@

    <div id="main_articles">
        @model IEnumerable<NotreDameReBuildOfficial.Models.news_article>
        @foreach (var article in Model)
        {
            <div class="news_image">
                <a href="@Url.Action("Article_Details", new { id = article.Id })"><img src="~/Images/News_Feed/@Url.Content(article.image)" alt="@article.title" /></a>
                <a href="@Url.Action("Article_Details", new { id = article.Id })"><span class="news_image_header">@article.title</span></a>
            </div>
        }
        <div id="seemore"><a href="~/Home/Article_List" class="link">See More</a></div>
    </div>

</div>

@* ONLINE SERVICE BUTTONS *@
<div id="left-col">

    <h2 id="online-services">Online Services</h2>

    <div id="service-btns">
        <a class="service-btn" id="donate-btn" href="#">
            <span class="icon icon5"><i class="fa fa-heart fa-lg"></i></span>
            <span class="btn-text btn-text5">Make a Donate</span>
        </a>

        <div class="clear"></div>

        <a class="service-btn" id="news-btn" href="#">
            <span class="icon icon4"><i class="fa fa-newspaper-o"></i></span>
            <span class="btn-text btn-text4">What's New</span>
        </a>

        <div class="clear"></div>

        <a class="service-btn" href="#">
            <span class="icon icon1"><i class="fa fa-shopping-cart fa-lg"></i></span>
            <span class="btn-text btn-text1">Gift Shop</span>
        </a>

        <div class="clear"></div>

        <a class="service-btn" href="#">
            <span class="icon icon2"><i class="fa fa-calendar fa-lg"></i></span>
            <span class="btn-text btn-text2">Book an Appointment</span>
        </a>

        <div class="clear"></div>

        <a class="service-btn" href="#">
            <span class="icon icon3"><i class="fa fa-comment fa-lg"></i></span>
            <span class="btn-text btn-text3">Send Feedback</span>
        </a>
    </div>

</div>

@* EVENTS LISTING *@
<div id="center-col">

    <h2>Upcoming Events</h2>

    @{
        Html.RenderAction("EventsPartial", "Home");
    }


</div>

@* WEEKLY POLL *@
<div id="right-col">

    <h2>Weekly Poll</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum commodo mi, ac rutrum massa interdum quis. Phasellus suscipit lacus eget mattis rhoncus. Praesent aliquet mattis diam sed iaculis. Integer justo metus, tincidunt auctor augue sit amet, maximus semper augue.</p>

</div>
