@{
    ViewBag.Title = "Index";
}

@* NEWS *@
<div id="news">        

    <h2>What's New</h2>

    @* Display news feed images from database *@

    <div id="main_articles">
        @model IEnumerable<NotreDameReBuildOfficial.Models.news_article>
        @foreach (var article in Model)
        {
            <div class="news_image">
                <a href="@Url.Action("Article_Details", new { id = article.Id })"><img src="~/Images/News_Feed/@Url.Content(article.image)" alt="@article.title" /></a>
                <a href="@Url.Action("Article_Details", new { id = article.Id })"><span class="news_image_header">@article.title</span></a>
            </div>
        }
        <div id="seemore"><a href="~/Home/Article_List" class="link">See More</a></div>
    </div>

</div>

@* ONLINE SERVICE BUTTONS *@
<div id="left-col">

    <h2 id="online-services">Online Services</h2>

    <div class="service-btn">
        <div class="icon icon1"><i class="fa fa-shopping-cart fa-lg"></i></div>
        <div class="btn-text btn-text1">Gift Shop</div>
    </div>

    <div class="service-btn">
        <div class="icon icon2"><i class="fa fa-calendar fa-lg"></i></div>
        <div class="btn-text btn-text2">Book an Appointment</div>
    </div>

    <div class="service-btn">
        <div class="icon icon3"><i class="fa fa-comment fa-lg"></i></div>
        <div class="btn-text btn-text3">Send Feedback</div>
    </div>

</div>

@* EVENTS LISTING *@
<div id="center-col">

    <h2>Upcoming Events</h2>

    @{
        Html.RenderAction("EventsPartial", "Home");
    }


</div>

@* WEEKLY POLL *@
<div id="right-col">

    <h2>Weekly Poll</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum commodo mi, ac rutrum massa interdum quis. Phasellus suscipit lacus eget mattis rhoncus. Praesent aliquet mattis diam sed iaculis. Integer justo metus, tincidunt auctor augue sit amet, maximus semper augue.</p>

</div>
