@{
    ViewBag.Title = "Thanks";
}

<h1 class="no-border">Thank you! Your event has been submitted for review!</h1>

<a href='@Url.Action("Index", "Home")'>
    <span class="buttonstyle">Return to Homepage</span>
</a>
