@model NotreDameReBuildOfficial.Models.PDF_Filter

@{
    ViewBag.Title = "createPdf";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>createPdf</h2>
