@model NotreDameReBuildOfficial.Models.PDF_Filter

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Warning! You are about to permanently delete @Model.PdfTitle</h1>

<h2>Are you sure you want to delete <em>@Model.PdfTitle </em>record from the database?</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="buttonstyle2" />

    @Html.ActionLink("Back", "Details", new { id = Model.id }, new { @class = "buttonstyle" })
}
