@model NotreDameReBuildOfficial.Models.ApptSchedValidation

@{
    ViewBag.Title = "Thanks";
    
}

<h2>Thank you, @Model.Fname</h2>

<h3>An email will be sent shortly to you confirming your appointment</h3>
