@model NotreDameReBuildOfficial.Models.ApptSchedValidation

@{
    ViewBag.Title = "Thanks";
    
}

<h2>Thank you, @Model.Fname @Model.Lname</h2>
<br/>
<h3>You have booked an appointment on @Model.BookDate for @Model.BookTime </h3>
<h3>An email will be sent shortly to you confirming your appointment.</h3>
<br />