@*@model IEnumerable<NotreDameReBuildOfficial.Models.Search>
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Search Keywords</h2>
<br />

<p>@Html.ActionLink("New Appointment", "createSearch", "cmsSearch", new { @class = "buttonstyle" })</p>
<br />
<table>
    <thead>
        <tr>
            <th>Keyword</th>
            <th>Date Searched</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@Html.ActionLink(x.Keyword, "Details", new { id = x.id, @class = "link" })</td>
                <td>@x.Tstamp</td>
               
            </tr>
        }
    </tbody>
</table>*@




