@{
    ViewBag.Title = "thankyou";
}

<h1>Thank You</h1>

<h2>Thank you for your successful purchase from the Notre Dame Hospital Online Gift Shop</h2>

<h3>For Pickup:</h3>

<p>Your purchase is available for pickup at anytime during store hours</p>

<h3>For Delivery:</h3>

<p>Your purchase will be delivered to the requested patient within the next 24 hours</p>

<p>If you have any further questions regarding your purchase, please call the Gift Shop at 555-5555</p>

<br />

<a href="~/Home/Index" class="buttonstyle">Back To Homepage</a>

