@model NotreDameReBuildOfficial.Models.staff_info

@{
    ViewBag.Title = "InsertStaff";

    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");

}
<h1>Staff Directory</h1>
<h2>Add Staff Member to the Directory</h2>
