@model IEnumerable<NotreDameReBuildOfficial.Models.Appt_Book>

@{
        ViewBag.Title = "ApptSched";
        Layout = "~/Views/Shared/_LayoutCMS.cshtml";
        @Scripts.Render("~/Scripts/cms-menu.js");    
}

<h2>Apptointments</h2>

<ul>
    @foreach (var x in Model)
    {
        <li>@Html.ActionLink(x.Fname + " " + x.Lname, "Details", new {id = x.id})</li>
    
    }
</ul>
<br/>
@*renders links to methods located on ApptSchedController*@
<p>@Html.ActionLink("Insert New Record", "createAppt", "ApptSched")</p> 
