@model IEnumerable<NotreDameReBuildOfficial.Models.Appt_Book>

@{
        ViewBag.Title = "ApptSched";
        Layout = "~/Views/Shared/_LayoutCMS.cshtml";
        @Scripts.Render("~/Scripts/cms-menu.js");    
}

<h2>ApptSched @DateTime.Now</h2>

@*renders links to methods located on ApptSchedController*@
<p>@Html.ActionLink("Insert New Record", "createAppt", "ApptSched")</p> 

<ul>
    @foreach (var x in Model)
    {
        <li>@Html.ActionLink(x.Fname, "Details", new { id = x.id })</li> //test
    }
</ul>
