@model NotreDameReBuildOfficial.Models.Appt_Book

@{
    ViewBag.Title = "Delete Appointment";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Are you sure you want to delete <em>@Model.Fname @Model.Lname</em> appointment?  </h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="buttonstyle" />

    @Html.ActionLink("Back", "Details", new { id = Model.id }) 
}