@model NotreDameReBuildOfficial.Models.Applicant
@{
    ViewBag.Title = "Success";
}

<h1>Thank you.</h1>
<div> <h2>you submitted your application succesfully. We will contact you in two weeks.</h2></div>


