/*****************************/
/*********** RESET ***********/
/*****************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************/
/*********** GENERAL STYLING ***********/
/***************************************/

html, body{
    height: 100%; /*For Sticky Footer*/
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 1px rgba(128,128,128,0.01); /*for sharper font on windows machines*/
    color: #444;
    font-size: 1em;
}

p {
    padding: 3px 0px;
}

a {
	color: #1b5998;
    text-decoration: none;
}

a:hover {
	color: #019ab8;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #f7900f;
    font-size: 1.5em;
    margin: 20px 0px;
}

h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #808080;
    font-size: 1.25em;
    margin: 20px 20px 10px 0px;
}

h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.15em;
    padding-bottom: 7px;
    margin: 10px 0px;
    color: #a3a3a3;
}

.clear {
    clear: both;
}

.homepage-btns {
    border: 2px solid #fff;
    color: #fff;
    background-color: #fd8411;
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    border-radius: 5px;
    text-decoration: none;
    width: 30%;
   
}

.homepage-btns:hover {
    border: 2px solid #fd8411;
    color: #fff;
}

.buttonstyle {
    border: 0px;
    color: #fff;
    background-color: #fd8411;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

.buttonstyle:hover {
    color: #fff;
    text-decoration: none;
}

input[type=radio] {
    height: 15px;
    width: 15px;
}

.textbox {
    border: 1px solid #d7d7d7;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    color: #808080;
    padding: 5px;
    height: 1em;
    margin-bottom: 5px;
}

input[type=submit] {
    margin: 20px 0px;
}

label.label {
    display: block;
    padding: 2px 0px;
    margin-top: 5px;
}

.dropdown-list {
    border: 1px solid #cacaca!important;
    height: 2em;
    padding: 5px;
}

/*3 Columns*/

#left-col,
#center-col,
#right-col {
    width: 29.33%;
    float: left;
    margin: 1%;
    padding: 1%;
}

/* Table */

table {
	text-align: left;
	border-collapse: collapse;
    margin-bottom: 30px;
}

th {
	padding: 12px 15px;
    font-weight: bold;
    color: #808080;
}

tr {

}

td {
    padding: 10px 15px;
}

table tr:nth-child(odd) td {
    background: #f5f5f5;
}


/* Validation */

.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors {
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}


/*************************************/
/*********** PUBLIC LAYOUT ***********/
/*************************************/

/* --- PUBLIC HEADER --- */

#container {
    height: 100%;
    overflow-x: hidden;
}

#header {
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
    background-color: #fff;
    height: 110px;
}

#searchfield {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

#logo {
    float: left;
    padding-top: 10px;
}

#headerbuttons {
    text-align: right;
    padding-bottom: 10px;
}

#headersearch{
    float:right;
}

#magnifylogo{
    float:left;
    color: #b6b6b6;
    padding: 4px;
}

#erwait{
    text-align: right;
    padding-top: 35px;
}

/* --- PUBLIC MAIN NAVIGATION --- */

#navigation {
    margin: 0 auto;
    max-width: 100%;
    clear: both;
}

#navigation ul {
    text-align: center;
    background-color: #019ab8;
    padding: 20px;
}

#navigation ul li {
    font-family: 'Roboto', serif;
    position: relative;
    list-style: none;
    display: inline;
	cursor: pointer;
    padding: 20px 0 21px 0;
    border-right: 1px solid #fff;
}

#navigation ul li:first-child {
    border-left: 1px solid #fff;
}

#navigation ul li a{
    text-decoration: none;
    padding: 20px 35px;
    color: #fff;
    font-size: 0.99em; 
}

#navigation ul li ul {
   	position: absolute;
  	top: 62px;
  	left: 0;
  	width: 200px;
  	display: none;
  	opacity: 0;
  	visibility: hidden;
  	z-index: 101;
	background: #f9f9f9;
    text-align: left;
    border-bottom: 2px solid #f7900f;
    -webkit-box-shadow: 10px 10px 36px -12px rgba(0,0,0,0.44);
    -moz-box-shadow: 10px 10px 36px -12px rgba(0,0,0,0.44);
    box-shadow: 10px 10px 36px -12px rgba(0,0,0,0.44);
}

#navigation ul li ul li {
 	padding: 20px 0 20px 0;
    display: block;
    border-right: 0px;
}

#navigation ul li ul li:first-child {
    border-left: 0px;
}

#navigation ul li ul li a{
    color: #333;
    padding: 0px;
    
}

#navigation ul li ul li a:hover{
    color: #808080;
}

#navigation ul li:hover ul {
	display: block;
  	opacity: 1;
  	visibility: visible;
    -webkit-animation: fadein .5s; 
    -moz-animation: fadein .5s;
    -ms-animation: fadein .5s;
    -o-animation: fadein .5s;
    animation: fadein .5s;
}

/* --- FADING KEYFRAMES --- */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* --- PUBLIC BODY --- */

/*For Sticky Footer*/

#main {
    width: 1024px;
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -265px;
    padding-top: 20px;
}

#news {
    width: 96%;
    margin: 0% 2%;
    padding: 1%;
}

.news_image{
    float: left;
    position: relative;
    width: 29.33%;
    float: left;
    margin: 2%;
}

.news_image img{
    max-width:100%;
    height:auto;
    border:none;
    display: block;
    margin: 0 auto;
}

.news_image_header{
    position:absolute;
    bottom: 0px;
    left: 0;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    opacity: .7;
    text-align: center;
    width: 100%;
    color: black;
    -o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
}

.news_image_header:hover{
    background-color: #f7900f;
    opacity: 1;
    -o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
}


/*Online service buttons in left 3 columns on homepage*/
.service-btn {
    width: 100%;
    color: #fff;
    margin-top: 3%;
}

.icon {
    float: left;
    width: 10%;
    text-align:center;
    padding: 4%;
    border-radius: 5px 0px 0px 5px;
    /*background-color: #f67000;*/
}

.btn-text {
    width: 74%;
    float: left;
    padding: 4%;
    text-align: center;
    margin-bottom: 5%;
    border-radius: 0px 5px 5px 0px;
    /*background-color: #fe890a;*/
}

/* First Button */
.icon1 { 
    background-color: #0f7daa; }
.btn-text1 { 
    background-color: #019ab8; }

/* Second Button */
.icon2 { 
    background-color: #94b113; }
.btn-text2 { 
    background-color: #accf13; }

/* Third Button */
.icon3 { 
    background-color: #f67000; }
.btn-text3 { 
    background-color: #fe890a; }

.service-desc {
    font-size: 0.875em;
}

#main_articles{
    position: relative;
}

#seemore{
    float: right;
    clear: both;
    position: absolute;
    right: 0;
    bottom: 0;
}

#article_image{
    float: left;
}

#article_info{
    float:right;
}

#articlebody{
    width: 55%;
}

/* --- PUBLIC FOOTER --- */

.push {
    height: 265px; /*For Sticky Footer*/
}

#footer_container {
    clear: both;
    max-width: 100%;
    background-color: #e5e7e9;
    font-size: 13px;
}

#footer {
    margin: 0 auto;
    width: 1024px;
    height: 265px;
    max-width: 100%;
    position: relative;
}

#footer_links{
    max-width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    margin-left: 10px;
}

#footer_links ul{
    padding: 15px 0px;
    z-index: 2;
}

#footer_links ul li {
    padding: 5px 0px 0px 0px;
    z-index: 2;
}

#footer_links ul li a{
    text-decoration: none;
    color: #019ab8;
    z-index: 2;
    -o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
}

#footer_links ul li a:hover {
    color: #f7900f;
}

#footer_social li{
    display: inline;
    z-index: 2;
    -o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
}

#footer_social li a img{
    width: 35px;
    height: 35px;
}

#footer_social li:hover{
    opacity: .7;
}

#partners {
    padding-top: 20px;
    width: 25%;
    float: right;
}

.partner {
    width: 40%;
    padding: 10px;
    float: right;
    z-index: 1;
}

.partner img {
    width: 100%;
}

#building{
    width: 49%;
    float: right;
    z-index: 2;
    padding-top: 30px;
}

#building img {
    z-index: 1;
    width: 100%;
}

#copyright p {
    padding: 20px 0px;
    font-size: 10px;
}


/*********************************/
/*********** RESPONSIVE ***********/
/*********************************/

/* --- MOBILE NAVIGATION --- */

#mobilenav {
    display: none;
}

#hamburger{
    display: none;
}

/* --- MOBILE QUERIES --- */

@media only screen and (max-width: 1090px) {

   #navigation ul li a {
        padding: 2.5%;
    }
  
}

@media only screen and (max-width: 1024px) {
    #main {
        width: 100%;
    }

     #navigation ul li:first-child {
        border-left: 0px;
    }

    #navigation ul li:last-child {
        border-right: 0px;
}
}

@media only screen and (max-width: 919px) {

    #logo {
        margin-top: 8px;
    }

    #logo img{
        width: 75%;
    }

    #mobilenav {
        display: block;
        height: 65px;
        background-color: #019ab8;
        margin: 0 auto;
        clear:both;
    }

    #mobilesearch {
        float: right;
        margin: 12px 20px 0px 0px;
    }

    #phoneicon {
        float:left;
        color: #fff;
        font-size: 40px;
        cursor: pointer;
        padding: 7px;
        margin-left: 10px;
        cursor: pointer;
    }

    #phoneicon:hover{
        color: #f7900f;
        -o-transition:.5s;
  	    -ms-transition:.5s;
  	    -moz-transition:.5s;
  	    -webkit-transition:.5s;
  	    transition:.5s;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f5f5f5;
    }

    #mapicon {
        float:left;
        color: #fff;
        font-size: 40px;
        cursor: pointer;
        padding: 7px;
        margin-left: 5px;
        cursor: pointer;
    }

    #mapicon:hover{
        color: #f7900f;
        -o-transition:.5s;
  	    -ms-transition:.5s;
  	    -moz-transition:.5s;
  	    -webkit-transition:.5s;
  	    transition:.5s;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f5f5f5;
    }

    #searchfield {
        display: none;
    }

    .textbox{
        padding: 8px;
        margin-top: 4px;
        height: 1.25em;
        width: 90%;
    }

    #hamburger{
        display: block;
        float: right;
        margin: 42px 42px 0px 0px;
        font-size: 25px;
        color: #f7900f;
        cursor: pointer;
        -o-transition:.5s;
  	    -ms-transition:.5s;
  	    -moz-transition:.5s;
  	    -webkit-transition:.5s;
  	    transition:.5s;
    }

    #hamburger:hover{
        color: #333;
    }

    #navigation ul {
        text-align: center;
        background-color: #34b6cf;
        padding: 20px;
        border-bottom: 2px solid #f7900f;
    }

    #navigation ul li{
        position: initial;
        display: block;
        border: 0px;
    }

    #navigation ul li a{
        padding: 10px;
       
    }

    #navigation ul li ul {
   	    position: initial;
  	    margin: 0 auto;
  	    width: 200px;
  	    display: block;
  	    opacity: 1;
  	    visibility: visible;
  	    z-index: 101;
	    background: #34b6cf;
        text-align: center;
        border-bottom: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #navigation ul li ul li {
 	    padding: 20px 0 20px 0;
    }

    #navigation ul li ul li a{
        color: #333;
        padding: 0px;
    }

    #navigation ul li ul li a:hover{
        color: #fff;
    }

    #navigation ul li:hover ul {
	    display: block;
  	    opacity: 1;
  	    visibility: visible;
    }

    .service-btn {
        width: 92%;
    }

    #partners {
        width: 40%;
        padding-right: 30px;
    }

    .partner {
        width: 40%;
        float: right;
    }

    #building {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {
     
    .service-btn {
        width: 100%;
    }

    #left-col,
    #center-col,
    #right-col {
        width: 96%
    }

    #footer {
        height: 450px;
    }

    #footer_links {
        clear: both;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        font-size: 1.25em;
    }

    #footer_social img {
        width: 10%;
    }

    #footer_links p {
        display: none;
    }

    #partners {
        width: 50%;
        float: none;
        margin: 0 auto;
        padding-right: 0px;
    }

    .partner {
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {

    #logo {
        margin-top: 12px;
        width: 230px;
    }

    #logo img{
        width: 100%;
    }
    
    #mobilesearch {
        width: 45%;
    }

    .textbox{
        width: 100%;
    }

    #online-services {
        display: none;
    }

    #partners {
        width: 80%;
        margin: 0 auto;     
        padding-right: 0px;
    }

    .partner {
        width: 40%;
        float: right;
    }
}

@media only screen and (max-width: 370px) {

    #logo {
        margin-top: 14px;
        width: 210px;
    }

    #mobilesearch {
        width: 35%;
    }

    #footer {
        height: 400px;
    }

    #footer_links {
        width: 100%;
    }
}

/**********************************/
/*********** CMS LAYOUT ***********/
/**********************************/

/* --- CMS HEADER --- */

#cms-head-container {
	background-color: #019ab8;
	height: 50px;
	right: 0;
	left: 0;
}

#ndh-title {
    float: left;
    width: 250px;
    margin-left: 20px;
}

#cross {
    float: left;
    padding: 5px 5px 5px 0px;
}

#nd {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #fff;
    font-size: 2em;
    padding: 5px 4px;
    float: left;
}

/*#cms-date {
	color: #444;
	margin: 0px 20px;
	font-size: 0.875em;
    width: 250px;
    padding-top: 20px;
    text-align: center;
}*/

#cms-top-nav a {
	float: left;
	display: inline;
	padding: 16px 0px 0px 20px;
	text-decoration: none;
	color: #fff;
}

#cms-top-nav a:hover {

}

#user {
	float: right;
	color: #fff;
	padding: 12px 20px;
	
}

#sign-out {
	float: right;
	background-color: #fff;
	padding: 14px 20px;
	border: 1px solid #019ab8;
}

#sign-out a {
	text-decoration: none;
}

/* --- CMS MAIN BODY --- */

#cms-main {
    min-height: 100%;
    position: relative;
    float: left;
    margin-left:40px;
    margin-top: 20px;
    width: 70%;
}

.link{
    color: #808080;
    text-decoration: none;
}

.link:hover{
    color: #019AB8;
    text-decoration: none;
}

/* --- CMS ER WAIT --- */

#erlinks ul li{
    display: inline;
}

/* --- CMS LEFT MENU --- */

.left-menu {
	float: left;
	width: 250px;
	border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 20px;
}

#cms-left-nav {
	width: 100%;
}

.left-mnu-itm {
	display: block;
	padding: 10px 20px;
	border-top: 1px solid #ddd;
	text-decoration: none;
}

.left-mnu-itm:last-child {
	border-bottom: 1px solid #ddd;
}

.secondary a {
    display: block;
	padding: 10px 20px;
	font-size: 0.85em;
	text-decoration: none;
    font-size: .875em;
}

.secondary a:last-child {
    padding-bottom: 20px;
}

.fa {
    z-index: 1;
	padding-right: 20px;
}

.fa-plus,
.fa-external-link,
.fa-home,
#magnifylogo .fa-search, /*targets magnifing glass on public layout*/
.fa-bars,
.fa-shopping-cart,
.fa-user-md,
.fa-comment,
.fa-arrow-left,
.fa-pencil,
.fa-times,
.fa-trash-o,
.fa-check,
.fa-list-ul {
	padding-right: 5px;
}

/* --- CMS FOOTER --- */

#cms-footer {
	clear: both;
	background-color: #ddd;
	font-size: 0.75em;
    bottom: 0;
    position: relative;
    width: 100%;
}

#cms-copyright {
   padding: 20px;
}

/********************************/
/*********** FEATURES ***********/
/********************************/

/* --- Job Opprtunity --- */

.btn{
    border:1px solid #333;
    padding:5px;
    /*text-decoration:none;*/
    background-color:#34b6cf;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:10px;
    border-radius: 5px;
    float:left;
    width:150px;
    padding-left: 5em;
    padding-right: 5em;
}

.btn-add{
  border:1px solid #333;
  padding:8px;
  border-radius: 5px;
  float:left;
  margin:25px 0 0 0;
  width:200px;
  font-size:14px;
  background-color:#34b6cf;
}

.category{
    border:1px solid #019ab8;
}

.list-links ul li{
    border-bottom:1px dashed rgba(255,175,77,1);
}

.lbl{
    color:#646060;
    margin:10px;
    margin-right:5px;
    font-weight:bold;
}

.details{
    margin-bottom:30px;
    margin-top:30px;
}

.details h2{
    margin-bottom:30px;
}

.Title{
    margin-bottom:40px;
}

.field-validation-error {
    color: #f00;
    padding:5px;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

#careers{
    margin-top:20px;
    float:left;
}

#careers th {
    border: 1px solid #34b6cf;
    padding: 3px 7px 2px 7px;
   background-color:rgba(255,175,77,1);
}

.btn_apply{
  border: 1px solid #333;
  padding: 5px;
  /* text-decoration: none; */
  background-color: #34b6cf;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  border-radius: 5px;
  float: left;
  width: 50px;
  padding-left: 5em;
  padding-right: 5em;
}
.btn_back{
  border: 1px solid #333;
  padding: 5px;
  /* text-decoration: none; */
  background-color: #ddd;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  border-radius: 5px;
  float: left;
  width: 50px;
  padding-left: 5em;
  padding-right: 5em;
}

.btn_cancel{
  border: 1px solid #333;
  padding: 5px;
  /* text-decoration: none; */
  background-color: #ddd;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  border-radius: 5px;
  float: left;
  width: 50px;
  padding-left: 5em;
  padding-right: 5em;
}

/*
#careers td{
    border: 1px solid #34b6cf;
    padding: 3px 7px 2px 7px;
    background-color:#fff;
}
  */

#careers tr:nth-child(odd) td{
    background: #f5f5f5;
}



.description{
    width: 100%;
    height:20em;
    border: 1px solid #d8d8d8;
    border-radius: 0.3em;
    padding: 0.4em 0.7em;
}

.details_Op{
    border:1px solid #34b6cf;
    padding:0.4em;
    width:50em;
}



.details_lbl{
    margin-top:1em;
}

.frm{
    border: 1px solid #d8d8d8;
    border-radius: 0.3em;
    padding: 0.4em 0.7em 0.4em ;
    width: 100%;

}

.frm_insert{
    border: 1px solid #d8d8d8;
    border-radius: 0.3em;
    padding: 0.4em 0.7em 0.4em ;
    width: 50em;

}


/* --- DONATION FORM --- */

#donation-list {
    width: 85%;
}

#donation {
    padding: 0px 20px 40px 20px;
    width: 100%;
}

label.amount {
    display: inline-block;
}

input#amount.textbox {
    width: 10%;
}

label.donation-type {
    display: inline-block;
}

input#in_memory.textbox,
input#first_name.textbox,
input#last_name.textbox,
input#organization.textbox,
input#address.textbox,
input#email.textbox {
    width: 50%;
}

table#edit-donations {
    width: 60%;
}