@model IEnumerable<NotreDameReBuildOfficial.Models.Event>

@{
    ViewBag.Title = "cmsEventsListing";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Manage Events</h1>