@model IEnumerable<NotreDameReBuildOfficial.Models.Event>

@{
    ViewBag.Title = "cmsEventsListing";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Manage Events</h1>

<h3>Current Events</h3>
@{
    Html.RenderAction("currentEventsPartial", "cmsEventsListing");
}

<h3>Previous Events</h3>
@{
    Html.RenderAction("pastEventsPartial", "cmsEventsListing"); 
}

<div class="clear"></div>

<a href='@Url.Action("Insert", "cmsEventsListing")'>
    <span class="buttonstyle"><i class="fa fa-plus"></i>New Event</span>
</a>