@model IEnumerable<NotreDameReBuildOfficial.Models.jobPosting>
@{
    ViewBag.Title = "JobPosting";
  
}

<h2>Available Jobs</h2>

<table id="careers">
    <thead>
        <tr>
            <th>Title</th>
            <th>Department</th>
            <th>Posting_Date</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@Html.ActionLink(x.title, "JobPosting_Details", new { id = x.id })</td>
                <td>@x.department</td>
                <td>@x.posting_date.ToString()</td>
                <td>@x.catTitle</td>
            </tr>
        }
    </tbody>
</table>
